@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button {
  font-family: "Roboto Slab", serif !important;
}
.score-board {
  min-height: 150px;
  max-height: 200px;
  word-wrap: break-word;
}

button {
  margin-top: 15px !important;
}
.bg-color {
  background: purple !important;
}
